[Unit]
Description=ShortView System Monitoring Daemon
After=mongodb.service

[Service]
ExecStart=/usr/bin/node /opt/shortview/receive.js

[Install]
WantedBy=multi-user.target
